

.section-titles h2 {
  font-size: 32px;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 20px;
  padding-bottom: 20px;
  position: relative;
  color: black;
}


.section-titles h2::after {
  content: '';
  position: absolute;
  display: block;
  width: 50px;
  height: 3px;
  background: #61bc46;
  bottom: 0;
  /* left: calc(50% - 25px); */
}

.section-titles p {
  margin-bottom: 0;
}
  
/*--------------------------------------------------------------
# About
--------------------------------------------------------------*/
.about {
    padding-top: 30px;
}
  
.about .content p{
    text-align: justify;
    line-height: 28px;
}
  .about .content h1{
    color:#037c2d;
    margin-bottom: 10px;
    font-size: 21px;
  }
  
  .content-box{
    padding: 60px 30px 20px 30px;
    color: white;
  }
  .content-box p{
    color: white;
    text-align: justify;
    
  }
  .content-box ul li{
    list-style: disc;
    padding: 10px 0px;
  }
  
  .section-title h2 {
    font-size: 32px;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 20px;
    padding-bottom: 20px;
    position: relative;
    text-align: center;
    color: #000;
  }
  .section-title h2::after {
    content: '';
    position: absolute;
    display: block;
    width: 73px;
    height: 3px;
    background: #61bc46;
    bottom: 0;
    left: calc(50% - 25px);
  }
  
  .OurMission ul{
    margin: 0;
    padding: 0;
}
.OurMission ul li{
    padding: 10px 5px;
}
    
