{% extends 'adminpanel/base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block body %}
<!-- ============================================================== -->
<!-- End Bread crumb and right sidebar toggle -->
<!-- ============================================================== -->
<!-- ============================================================== -->
<!-- Container fluid  -->
<!-- ============================================================== -->
<div class="container-fluid">
    <!-- ============================================================== -->
    <!-- Start Page Content -->
    <!-- ============================================================== -->
    <!-- Row -->
    <div class="row">
        <h3 class="box-title">Edit {{main.title}}</h3>

        <!-- Column -->
        <form method="post" action="#" enctype="multipart/form-data">
            {% if form.errors %}
            <div class="alert alert-danger" role="alert">
                <h4 class="alert-heading">Error!</h4>
                <p>{{ form.errors }}</p>
            </div>
            {% endif %}
         
            <div id='pageselector'>

            </div>



            {% csrf_token %}
            {{form|crispy}}
            {{form.media}}
           
        <div id="selectpage" style="display:none;">
            <select class="form-control custom-select custom-select-lg mb-3" name='mainpageselect'>
                {% for i in contents %}
                {% if forloop.first %}
                <option value="{{i.title}}">{{i.title}}</option>
                {% else %}
                <option value="{{i.title}}">{{i.title}}</option>
                {% endif %}
                {% endfor %}
            </select>
        </div>



        <h6 class="mt-4">All Subpages </h6>


        <table class="table table-striped table-bordered table-hover table-primary m-4 ">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Title</th>
                    <th scope="col">Position</th>
                    <th scope="col">Action</th>
                </tr>
            </thead>
            <tbody>
                {% for sub in subs %}
                <tr id="content_{{sub.id}}">
                    <td>{{forloop.counter}}</td>
                    <td>{% if sub.enable %}<span style='color:green;'>{{sub.title}}</span>{% else %}<span
                            style='color:red;'>{{sub.title}}</span>{% endif %}</td>
                    <td>{{sub.position}}</td>
                   
                    <td><a class='btn btn-primary'
                            href="{% url 'adminpanel:editsubpage' sub.id %}">Edit</a>
                        <button class='btn btn-danger' onclick='s_delete({{sub.id}})'>Delete</button>
                    </td>
                </tr>
                {% endfor %}

            </tbody>
        </table>
        <button type="submit" class="btn btn-primary btn-save">Submit</button>
        
        </form>

        <!-- Column -->
    </div>
    <!-- Row -->
    <!-- ============================================================== -->
    <!-- End PAge Content -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- Right sidebar -->
    <!-- ============================================================== -->
    <!-- .right-sidebar -->
    <!-- ============================================================== -->
    <!-- End Right sidebar -->
    <!-- ============================================================== -->
</div>
<!-- ============================================================== -->
<!-- End Container fluid  -->
<!-- ============================================================== -->
<!-- ============================================================== -->
<!-- footer -->
<!-- ============================================================== -->



<script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
<script type="text/javascript">

    function subclicked(value) {
        var selection = document.getElementById("selectpage").innerHTML;
        if (value == 'sub') {
            document.getElementById("pageselector").innerHTML = selection;
        }
        else {
            document.getElementById("pageselector").innerHTML = '';

        }
    }

    function s_delete(id) {
        URL = window.location.href + "/s_delete/" + String(id);
        var banner_delete = "#content_" + String(id);
        $(banner_delete).remove();
        var xhttp = new XMLHttpRequest();
        xhttp.open("GET", URL, true);
        xhttp.send();
    }
</script>
{% endblock %}